#editor-1-ace-line-13 {
    font-size: 70%;
}

#editor-1-ace-line-59, #editor-1-ace-line-61, #editor-1-ace-line-63 {
    font-size: 60%;
}

#editor-1-ace-line-7 {
    font-size: 160%;
    text-align: center;
}

#editor-1-ace-line-8 {
    text-align: center;
}

#editor-1-ace-line-8, #editor-1-ace-line-9, #editor-1-ace-line-10, #editor-1-ace-line-11 {
    font-size: 65%;
    text-align: center;
}

div {
    font-family: "SF Pro Text";
}

div > span, ul {
    font-family: "Adobe Garamond Pro", sans-serif;
    font-size: 105%;
}

h1 {
    font-family: "Futura-Bold";
}

h2 {
    font-family: "Adobe Garamond Pro", sans-serif;
    font-size: 110%;
    font-weight: 600;
    line-height: 0;
    padding: 0.9em 0 0.2em;
}

td,table, .ace-table, mode .ace-table {
    border: 2px solid #fff;
    border-radius: 20px ;
}

